@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','sans-serif';
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  background-color: #DFB722;
  
}

.container{
  width: 700px;
  background:white;
  border-radius: 15px;
  padding:30px;
}

.wrapper{
  border-radius:1px;
  border:1px solid green;
}
.wrapper .text-input{
  display:flex;
  border-bottom: 1px solid green;
}
.text-input .to-text{
border-radius: 1px;
border-left:1px solid green;
}
.text-input textarea{
  height: 250px;
  width:100%;
  border:none;
  outline:none;
  resize:none;
  background: none;
  border-radius:10px;
  padding: 10px 15px;

}

.controls, li{
  display: flex;
  align-items:center;
  justify-content:space-between;
  
}
.container{
  list-style:none;
  padding:15px 15px;

}


.controls .icons i{
  color: darkgreen;
  width: 50px;
  font-size: 14px;
  cursor: pointer;
}

.controls .row select{
  border:none;
  outline:none;
  background:none;
  font-size: 18px;
}